* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #111;
}

.logo {
  width: 10%;

}

li, a, button {
  font-family: 'Licorice', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Outfit', sans-serif;

  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
